@if (show) {
  <div
    class="fixed inset-0 z-50"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex min-h-screen items-center justify-center px-4 pt-4 text-center sm:block sm:p-0"
      @fadeInOutAnimation
    >
      <div class="fixed inset-0" aria-hidden="true"></div>
      <span
        class="hidden sm:inline-block sm:h-screen sm:align-middle"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="relative inline-block transform overflow-hidden rounded-lg bg-white text-left align-bottom shadow-xl transition-all dark:bg-slate-800 sm:max-w-[80%] sm:p-6 sm:align-middle xl:max-w-7xl"
      >
        <div class="absolute top-0 right-0 mx-4 my-5 pt-1 pr-1">
          <button
            (click)="closeInfoSection()"
            type="button"
            class="rounded-md text-gray-400 hover:text-gray-500 focus:text-gray-800 dark:text-slate-200 dark:hover:text-slate-100 dark:focus:text-white"
          >
            <span class="sr-only">Close</span>
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div
          #modal
          class="mx-4 my-5 max-h-[75vh] overflow-y-auto sm:flex sm:items-start"
          @transformInOutAnimation
        >
          <div class="info-section">
            <h2 id="modal-title" class="text-lg font-semibold">
              Minecraft Mod Updater and Loader Migrator
            </h2>
            <p>
              This tool helps you find updates for and lets you migrate
              Minecraft Java Mods using the
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://modrinth.com/"
                >Modrinth<span class="sr-only">(opens in new tab)</span></a
              >
              API by simply uploading them as .jar files.
            </p>
            <h3 class="text-lg font-semibold">How to use:</h3>
            <ol>
              <li>
                Select the desired mod loader (Fabric / Forge / Quilt /
                NeoForge).
              </li>
              <li>Select the Minecraft version you want to target.</li>
              <li>
                Upload your mod(s) by dragging and dropping them onto the page.
              </li>
              <li>Let the tool find the targeted versions of your mods.</li>
            </ol>
            <p>
              You can also update resource packs (.zip), shaders (.zip) and
              modpacks (.mrpack) and downgrade mods to a specific version.
              <br />
              Modpack developers can use this tool to update the mods contained
              in their modpacks to the latest versions by uploading the
              modrinth.index.json file.
            </p>
            <h3 class="text-lg font-semibold">Modrinth's Rate Limit:</h3>
            <p>
              Please note that this tool relies on the Modrinth API for fetching
              mod updates. Modrinth has a rate limit in place to prevent abuse.
              If you hit the rate limit, you will need to wait for a few
              seconds. You are able to process at most ~290 mods per minute.
              Currently you have used
              {{
                (this.modrinth.rateLimitLimit ?? 0) -
                  Math.max(this.modrinth.rateLimitRemaining ?? 0, 0)
              }}
              of {{ this.modrinth.rateLimitLimit ?? 0 }}
              tokens
              @if (
                modrinth.getRateLimitSecondsUntilReset$ | async;
                as resetIn
              ) {
                (resets in {{ resetIn }} seconds
                {{ modrinth.isClientSideRateLimit ? "(approximated)" : "" }})
              }
              .
            </p>
            <h3 class="text-lg font-semibold">Attributions:</h3>
            <p>
              This tool was made with
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://angular.io/"
                >Angular<span class="sr-only">(opens in new tab)</span></a
              >
              and
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://tailwindcss.com/"
                >Tailwind<span class="sr-only">(opens in new tab)</span></a
              >
              using icons from
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://heroicons.com/"
                >Heroicons<span class="sr-only">(opens in new tab)</span></a
              >
              and
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://iconoir.com/"
                >Iconoir<span class="sr-only">(opens in new tab)</span></a
              >. The dropzone was created using the
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://www.npmjs.com/package/ngx-dropzone"
                >ngx-dropzone library<span class="sr-only"
                  >(opens in new tab)</span
                ></a
              >. The source code is available on
              <a
                target="_blank"
                rel="noopener"
                referrerpolicy="no-referrer"
                href="https://github.com/IsAvaible/AngularModUpdater"
                >GitHub<span class="sr-only">(opens in new tab)</span></a
              >.
            </p>
<!--            Curseforge Support is currently disabled due to CORS issues -->
<!--            <label class="inline-flex cursor-pointer items-center">-->
<!--              <input type="checkbox" [(ngModel)]="curseforgeSupport" />-->
<!--              <span class="ml-3 text-sm text-gray-900 dark:text-gray-300"-->
<!--                >Enable Experimental Curseforge Support</span-->
<!--              >-->
<!--            </label>-->
          </div>
          <button
            (click)="closeInfoSection()"
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 dark:border-slate-900 dark:bg-slate-800 dark:text-slate-200 hover:dark:bg-slate-700 sm:mt-0 sm:ml-3 sm:hidden sm:w-auto sm:text-sm"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
}
