<ngx-dropzone
  (change)="onSelect($event)"
  [multiple]="true"
  accept=".jar,.mrpack,.json,.zip"
  class="important max-w-[85vw] overflow-y-clip overflow-x-scroll dark:!border-slate-300 dark:!bg-slate-900 dark:!text-slate-200 xl:max-w-[75rem]"
>
  <ngx-dropzone-label class="p-4">Upload your mod(s)</ngx-dropzone-label>
  @for (f of files; track f) {
    <ngx-dropzone-preview
      [removable]="true"
      (removed)="onRemove(f)"
      class="overflow-x-clip bg-gray-100 dark:bg-slate-800 dark:text-slate-200"
      style="background-image: none"
    >
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  }
</ngx-dropzone>
