<div id="triangle" class="h-24 w-24
bg-indigo-400 hover:bg-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-400
justify-end pr-4 pt-4 group hidden md:flex relative
transition-colors hover:cursor-pointer" (click)="toggleInfoSection()">
  <svg [ngClass]="this.ModrinthAPI.rateLimit_Remaining >= this.ModrinthAPI.rateLimit_Limit / 2 ? '' : 'hidden'" class="w-8 h-8 opacity-0 group-hover:opacity-100 group-hover:inline text-white rotate-45 transition-opacity"
       xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 11.5v5M12 7.51l.01-.011M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"/>
  </svg>
  <span *ngIf="this.ModrinthAPI.rateLimit_Remaining < this.ModrinthAPI.rateLimit_Limit / 2" [ngClass]="this.ModrinthAPI.rateLimit_Remaining > this.ModrinthAPI.rateLimit_Limit-50 ? 'animate-pulse' : ''" class="w-20 text-center opacity-100 group-hover:opacity-0 group-hover:hidden text-white rotate-45">{{this.ModrinthAPI.rateLimit_Limit+1-(this.ModrinthAPI.rateLimit_Remaining||1)}} / {{this.ModrinthAPI.rateLimit_Limit}}</span>

</div>

<app-info-section *ngIf="showInfoSection" (closeEvent)="toggleInfoSection()"></app-info-section>

