<button
  id="triangle"
  class="group relative flex aspect-square h-24 w-24 justify-end bg-indigo-400 pr-4 pt-4 transition-colors dark:bg-indigo-500"
  [ngClass]="
    showInfoSection
      ? 'h-auto w-auto bg-indigo-500'
      : 'hover:cursor-pointer hover:bg-indigo-500 focus:bg-indigo-500 dark:hover:bg-indigo-400'
  "
  (click)="toggleInfoSection()"
  [@openClose]="showInfoSectionTransition ? 'open' : 'closed'"
  (@openClose.done)="animationDone($event)"
  (@openClose.start)="animationStart($event)"
  tabindex="0"
  aria-controls="info-section"
  [attr.aria-expanded]="showInfoSection"
  aria-label="Information section toggle button"
>
  <!-- (i) icon that appears on hover -->
  @if (!showInfoSection) {
    <svg
      [ngClass]="
        this.modrinth.rateLimitRemaining === null ||
        this.modrinth.rateLimitLimit === null ||
        this.modrinth.rateLimitRemaining >= this.modrinth.rateLimitLimit / 2
          ? ''
          : 'hidden'
      "
      class="h-8 w-8 rotate-45 text-white transition-opacity group-hover:inline"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      aria-hidden="true"
    >
      <!-- Hides from screen readers, as it is decorative -->
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 11.5v5M12 7.51l.01-.011M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
      />
    </svg>
  }

  <!-- Remaining rate limit information that appears when the rate limit is below 50% -->
  @if (
    !showInfoSection &&
    this.modrinth.rateLimitRemaining !== null &&
    this.modrinth.rateLimitLimit !== null &&
    this.modrinth.rateLimitRemaining < this.modrinth.rateLimitLimit / 2
  ) {
    <span
      [ngClass]="
        300 - this.modrinth.rateLimitRemaining >
        this.modrinth.rateLimitLimit - 50
          ? 'animate-pulse'
          : ''
      "
      class="-ml-7 w-20 rotate-45 text-center text-white opacity-100 group-hover:hidden group-hover:opacity-0"
      aria-live="polite"
      role="status"
    >
      {{
        this.modrinth.rateLimitLimit -
          Math.max(this.modrinth.rateLimitRemaining, 0)
      }}
      / {{ this.modrinth.rateLimitLimit }}
      <span class="sr-only">tokens remaining.</span>
    </span>
  }
</button>

@if (showInfoSection) {
  <app-info-section
    id="info-section"
    (closeEvent)="toggleInfoSection()"
  ></app-info-section>
}
