@if (view == View.List) {
  <div
    class="flex w-full flex-col rounded-lg bg-white p-4 shadow-md dark:bg-slate-800 dark:text-slate-200"
  >
    <div class="flex gap-x-5 overflow-y-auto">
      <div
        class="min-w-16 min-h-16 flex flex-col justify-center sm:order-first"
      >
        @if (view == View.List && project.icon_url) {
          <a
            href="https://modrinth.com/mod/{{ project.slug }}"
            target="_blank"
            referrerpolicy="no-referrer"
            class="hidden sm:block"
            title="Open the Projects Modrinth Page"
            tabindex="-1"
          >
            <img
              src="{{ project.icon_url }}"
              alt="{{ project.title }}"
              class="aspect-square w-16 rounded-xl"
              style="background-color: {{ project.color }}"
            />
          </a>
        }
      </div>
      <div class="order-last flex flex-grow flex-col sm:order-first">
        <div class="flex flex-row items-baseline gap-x-1">
          <h2 class="text-lg font-bold dark:text-slate-100">
            <a
              class="hover:underline"
              href="{{ project.project_url }}"
              target="_blank"
              referrerpolicy="no-referrer"
              >{{ project.title }}</a
            >
          </h2>
          <p>
            by
            <a
              class="underline"
              href="{{ authorUrl }}"
              title="{{ authorLinkTitle }}"
              target="_blank"
              referrerpolicy="no-referrer"
              >{{ selectedVersion.author_id }}</a
            >
          </p>
        </div>
        <p class="text-gray-700 dark:text-slate-200">
          {{ project.description }}
        </p>
        <div class="flex flex-row gap-x-3 text-sm">
          <span class="flex flex-wrap items-center gap-x-1">
            @if (project.server_side !== "unsupported") {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <path
                  d="M2 12h20M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                ></path>
              </svg>
            }
            @if (project.server_side === "unsupported") {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9.75 17 9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2z"
                ></path>
              </svg>
            }
            <span>
              @switch (project.server_side) {
                @case ("required") {
                  <span>Server</span>
                }
                @case ("optional") {
                  <span>Client or Server</span>
                }
                @default {
                  <span>Client</span>
                }
              }
            </span>
          </span>
          <button
            title="Open the Changelog"
            (click)="toggleChangelog()"
            class="flex items-center gap-x-1 hover:underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
            {{ selectedVersion.date_published | dateAgo }}
          </button>
          <span
            class="flex items-center justify-center gap-x-1 dark:text-slate-200"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              width="14"
              height="14"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"
              />
            </svg>
            {{
              selectedVersion.version_type.charAt(0).toUpperCase() +
                selectedVersion.version_type.slice(1)
            }}
          </span>
          @if (selectedVersion.versionStatus != VersionStatus.Unspecified) {
            <app-mod-status-label
              [status]="selectedVersion.versionStatus"
              [view]="view"
            />
          }
          <app-project-type-label [type]="project.project_type" [view]="view" />
        </div>
      </div>
      <div
        class="order-first flex flex-shrink flex-col items-center justify-center space-y-1 sm:order-last sm:items-start"
      >
        @if (view == View.List && project.icon_url) {
          <a
            href="https://modrinth.com/mod/{{ project.slug }}"
            target="_blank"
            referrerpolicy="no-referrer"
            class="aspect-square sm:hidden"
            title="Open the Projects Modrinth Page"
            tabindex="-1"
          >
            <img
              src="{{ project.icon_url }}"
              alt="{{ project.title }}"
              class="h-8 w-8 rounded-lg"
            />
          </a>
        }
        <div
          class="flex w-full flex-row items-center justify-center gap-x-1 sm:justify-start"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-4 w-4 text-gray-900 dark:text-slate-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
            />
          </svg>
          @if (versions.length == 1) {
            <p class="text-sm text-gray-700 dark:text-slate-200">
              {{ selectedVersion.version_number }}
            </p>
          }
          @if (versions.length > 1) {
            <div class="">
              <div class="flex flex-row">
                <select
                  [(ngModel)]="selectedVersion"
                  class="rounded-xl border border-gray-300 bg-white px-2 py-1 text-sm font-medium text-gray-700 dark:bg-slate-800 dark:text-slate-200"
                >
                  @for (mod of versions; track mod) {
                    <option
                      [class]="
                        mod.versionStatus == VersionStatus.Installed
                          ? 'bg-slate-100 dark:bg-slate-700'
                          : ''
                      "
                      [ngValue]="mod"
                    >
                      {{ mod.version_number }}
                    </option>
                  }
                </select>
              </div>
            </div>
          }
        </div>
        <p
          class="flex gap-x-1 text-sm text-gray-700 dark:text-slate-200 sm:w-48"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-4 w-4 text-gray-900 dark:text-slate-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25"
            />
          </svg>
          <span class="">{{ selectedVersion.downloads | shortNumber }}</span>
          downloads
        </p>
        <a
          href="{{ selectedVersion.files[0].url }}"
          class="text-sm font-medium text-blue-500 hover:text-blue-700 hover:underline"
          >Download</a
        >
      </div>
    </div>
    @if (showChangelog) {
      <div @slideInOut class="overflow-y-clip pt-2">
        <h4 class="text-2xl font-bold">Changelog:</h4>
        <markdown
          class="undo-preflight text-sm"
          [data]="selectedVersion.changelog"
        ></markdown>
        <button
          (click)="toggleChangelog()"
          class="flex h-7 w-full items-center justify-center rounded-md hover:bg-gray-100 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <svg
            [ngClass]="showChangelog ? '' : 'rotate-180'"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 15.75l7.5-7.5 7.5 7.5"
            />
          </svg>
          <span class="sr-only">Toggle Changelog</span>
        </button>
      </div>
    }
  </div>
}

@if (view === View.Grid) {
  <div
    class="flex h-full w-full items-center gap-x-5 overflow-y-auto rounded-lg bg-white p-4 shadow-md dark:bg-slate-800 dark:text-slate-200"
  >
    <div class="min-w-16 min-h-16 flex flex-col justify-center">
      @if (project.icon_url) {
        <a
          href="https://modrinth.com/mod/{{ project.slug }}"
          target="_blank"
          referrerpolicy="no-referrer"
          class=""
          title="{{ project.title }}"
          tabindex="-1"
        >
          <img
            src="{{ project.icon_url }}"
            alt="{{ project.title }}"
            class="aspect-square w-16 rounded-xl"
          />
        </a>
      }
    </div>
    <div class="flex flex-grow flex-col">
      <div class="flex flex-row items-baseline gap-x-1">
        <h2 class="text-lg font-bold">
          <a
            class="hover:underline"
            href="https://modrinth.com/mod/{{ project.slug }}"
            target="_blank"
            referrerpolicy="no-referrer"
            >{{ project.title }}</a
          >
        </h2>
      </div>
      <div class="flex w-full flex-row items-center justify-start gap-x-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="h-4 w-4 text-gray-900 dark:text-slate-200"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
          />
        </svg>
        @if (versions.length == 1) {
          <p class="text-sm text-gray-700 dark:text-slate-200">
            {{ selectedVersion.version_number }}
          </p>
        }
        @if (versions.length > 1) {
          <div class="">
            <div class="flex flex-row">
              <select
                [(ngModel)]="selectedVersion"
                class="rounded-xl border border-gray-300 bg-white px-2 py-1 text-sm font-medium text-gray-700 dark:bg-slate-800 dark:text-slate-200"
              >
                @for (mod of versions; track mod) {
                  <option
                    [class]="
                      mod.versionStatus == VersionStatus.Installed
                        ? 'bg-slate-100 dark:bg-slate-700'
                        : ''
                    "
                    [ngValue]="mod"
                  >
                    {{ mod.version_number }}
                  </option>
                }
              </select>
            </div>
          </div>
        }
      </div>
      <p class="flex gap-x-1 text-sm text-gray-700 dark:text-slate-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="h-4 w-4 text-gray-900 dark:text-slate-200"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25"
          />
        </svg>
        <span class="">{{ selectedVersion.downloads | shortNumber }}</span>
        downloads
      </p>
      <div class="flex justify-between">
        <a
          [href]="fileUrl"
          class="text-sm font-medium text-blue-500 hover:text-blue-700 hover:underline"
          >Download</a
        >
        <app-mod-status-label
          [status]="selectedVersion.versionStatus"
          [view]="view"
        />
      </div>
    </div>
  </div>
}
