<div class="flex flex-col justify-between items-center h-screen w-full">
  <div class="flex flex-col items-center w-full">
    <app-info-triangle/>
    <div class="mt-10">
      <app-title/>
    </div>
    <div class="my-5">
      <app-description/>
    </div>
    <div class="my-3 flex gap-x-4">
      <app-loader-selector/>
      <app-version-selector/>
    </div>
    <div>
      <app-file-dropzone/>
    </div>
    <div class="my-3">
      <app-mod-panel/>
    </div>
  </div>
  <app-footer class="w-full"/>
</div>

